<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="Alias" value="Preprod Starz"/>
      <add key="Server" value="netoffice.netactica.com"/>
      <add key="DataBase" value="Prep_Starz"/>
      <add key="NetofficeUser" value="nffprod" />
      <add key="NetofficePass" value="pJgEO9V7o/8=" />
      <add key="ImageTransition" value="false" />
      <add key="WindowsAuthentication" value="false" />
      <add key="SocketServerStartingPort" value="30303" />
      <add key="ServerUpdate" value="http://preprod-loadernff.netactica.net/" />
      <add key="ServerUpdateXml" value="VersionesArchivos.xml" />
    </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WS_EmissionFacturaSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://testing.invoicy.com.uy/InvoiCy/aws_emissionfactura.aspx"
          binding="basicHttpBinding" bindingConfiguration="WS_EmissionFacturaSoapBinding"
          contract="MigrateServiceUY.WS_EmissionFacturaSoapPort" name="WS_EmissionFacturaSoapPort" />
    </client>
  </system.serviceModel>
</configuration>
