<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IIntegracion" />
        <binding name="BasicHttpBinding_IIntegracion1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://fym.cloudapp.net/ServiciosFyM/eBill/Integracion.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegracion"
          contract="ExporterDIAN.IIntegracion" name="BasicHttpBinding_IIntegracion" />
      <endpoint address="https://fym.cloudapp.net:444/ServiciosFyM/eBill/Integracion.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegracion1"
          contract="ExporterDIAN.IIntegracion" name="BasicHttpBinding_IIntegracion1" />
    </client>
  </system.serviceModel>
</configuration>