<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DatabaseUnitTesting" type="Microsoft.VisualStudio.TeamSystem.Data.UnitTesting.Configuration.DatabaseUnitTestingSection, Microsoft.VisualStudio.TeamSystem.Data.UnitTesting, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Backoffice.DataTables.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <DatabaseUnitTesting>
    <DataGeneration ClearDatabase="true" />
    <ExecutionContext Provider="System.Data.SqlClient" ConnectionString="Data Source=NETAR-DEV08;Initial Catalog=Netoffice2;Persist Security Info=True;User ID=netoffice;Pooling=False" />
    <PrivilegedContext Provider="System.Data.SqlClient" ConnectionString="Data Source=NETAR-DEV08;Initial Catalog=Netoffice2;Persist Security Info=True;User ID=netoffice;Pooling=False" />
  </DatabaseUnitTesting>
  <applicationSettings>
    <Backoffice.DataTables.Properties.Settings>
      <setting name="Netoffice_DataTables_Netactica_Net_Core_Client_AirTkt_AirTicketService" serializeAs="String">
        <value>http://www.netactica.net/demo/netcore/r2/airticketservice.asmx</value>
      </setting>
      <setting name="Netoffice_DataTables_Netactica_Net_Core_Client_SessionService" serializeAs="String">
        <value>http://www.netactica.net/demo/netcore/r2/sessionservice.asmx</value>
      </setting>
      <setting name="Netoffice_DataTables_Netactica_Net_Core_Client_PromotionService_PromotionService" serializeAs="String">
        <value>http://netar-dev07:8090/PromotionService.asmx</value>
      </setting>
      <setting name="Netoffice_DataTables_Netactica_Net_Core_Client_AuthenticationService_AuthenticationService" serializeAs="String">
        <value>http://netar-dev07:8090/AuthenticationService.asmx</value>
      </setting>
      <setting name="Netoffice_DataTables_GITSBioServicesWebTrigger_Trigger" serializeAs="String">
        <value>http://172.28.1.94/GITSBioServicesWebTrigger/Trigger.asmx</value>
      </setting>
      <setting name="Netoffice_DataTables_Netactica_Net_CreditCardInterface_Core_Client_VoidService_VoidService" serializeAs="String">
        <value>http://localhost:8001/VoidService.asmx</value>
      </setting>
      <setting name="Netoffice_DataTables_Netactica_Net_CreditCardInterface_Core_Client__AutorizationService_AutorizationService" serializeAs="String">
        <value>http://localhost:8001/AutorizationService.asmx</value>
      </setting>
      <setting name="Netoffice_DataTables_Netactica_Net_Accounting_Core_Host_TaxService_TaxService" serializeAs="String">
        <value>http://localhost:49565/Netactica.Net.Accounting.Core.Host/TaxService.asmx</value>
      </setting>
      <setting name="Netoffice_DataTables_Netactica_Net_Accounting_Core_Host_ProfileTypeService_ProfileTypeService" serializeAs="String">
        <value>http://localhost:49565/Netactica.Net.Accounting.Core.Host/ProfileTypeService.asmx</value>
      </setting>
      <setting name="Netoffice_DataTables_Netactica_Net_Accounting_Core_Host_ProfileService_ProfileService" serializeAs="String">
        <value>http://localhost:49565/Netactica.Net.Accounting.Core.Host/ProfileService.asmx</value>
      </setting>
      <setting name="Netoffice_DataTables_Netactica_Net_Accounting_Core_Host_CashService_CashService" serializeAs="String">
        <value>http://localhost:49565/Netactica.Net.Accounting.Core.Host/CashService.asmx</value>
      </setting>
      <setting name="Netoffice_DataTables_Netactica_Net_Accounting_Core_Host_ItemService_ItemService" serializeAs="String">
        <value>http://localhost:49565/Netactica.Net.Accounting.Core.Host/ItemService.asmx</value>
      </setting>
      <setting name="Netoffice_DataTables_Netactica_Net_Accounting_Core_Host_MovementConceptService_MovementConceptService" serializeAs="String">
        <value>http://localhost:49565/Netactica.Net.Accounting.Core.Host/MovementConceptService.asmx</value>
      </setting>
      <setting name="Netoffice_DataTables_Netactica_Net_Accounting_Core_Host_MethodService_MethodService" serializeAs="String">
        <value>http://localhost:49565/Netactica.Net.Accounting.Core.Host/MethodService.asmx</value>
      </setting>
      <setting name="Netoffice_DataTables_Netactica_Net_Accounting_Core_Host_SessionService_SessionService" serializeAs="String">
        <value>http://localhost:49565/Netactica.Net.Accounting.Core.Host/SessionService.asmx</value>
      </setting>
      <setting name="Netoffice_DataTables_Netactica_Net_Accounting_Core_Host_AuthenticationService_AuthenticationService" serializeAs="String">
        <value>http://localhost:49565/Netactica.Net.Accounting.Core.Host/AuthenticationService.asmx</value>
      </setting>
      <setting name="Netoffice_DataTables_MigrateUYService_WS_EmissionFactura" serializeAs="String">
        <value>http://testing.invoicy.com.uy/InvoiCy/aws_emissionfactura.aspx</value>
      </setting>
      <setting name="Netoffice_DataTables_Wsaa_LoginCMSService" serializeAs="String">
        <value>https://wsaahomo.afip.gov.ar/ws/services/LoginCms</value>
      </setting>
      <setting name="Netoffice_DataTables_Wsfe_Service" serializeAs="String">
        <value>https://wswhomo.afip.gov.ar/wsfev1/service.asmx</value>
      </setting>
      <setting name="Netoffice_DataTables_WsfeE_Service" serializeAs="String">
        <value>https://wswhomo.afip.gov.ar/wsfexv1/service.asmx</value>
      </setting>
      <setting name="Netoffice_DataTables_Wsfet_CTService" serializeAs="String">
        <value>https://fwshomo.afip.gov.ar:443/wsct/CTService</value>
      </setting>
      <setting name="Netoffice_DataTables_Netactica_Net_CreditCardInterface_Core_Client_RechargeCardService_RechargeCardService" serializeAs="String">
        <value>http://localhost:8001/RechargeCardService.asmx</value>
      </setting>
    </Backoffice.DataTables.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SI_registroFacturaElectronicaEuroWin_OBinding" />
        <binding name="SI_registroFacturaElectronicaEuroWin_OBinding1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IBridge">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IBridge1">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IBridge2">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IBridge11">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://190.108.68.38:9002/Bridge/WcfBridge.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBridge"
        contract="FacturacionElectronicaEC2019.IBridge" name="WSHttpBinding_IBridge" />
      <endpoint address="http://fewcf.netactica.net/WcfBridge.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBridge1"
        contract="FacturacionElectronicaSCO.IBridge" name="WSHttpBinding_IBridge1" />
      <endpoint address="http://srvsapdevpi:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_legado&amp;receiverParty=&amp;receiverService=&amp;interface=SI_registroFacturaElectronicaEuroWin_O&amp;interfaceNamespace=urn%3AComfenalco%3Afacturacion%3Afacturacionelectronica"
        binding="basicHttpBinding" bindingConfiguration="SI_registroFacturaElectronicaEuroWin_OBinding"
        contract="ServicioCarvajalConfenalco.SI_registroFacturaElectronicaEuroWin_O"
        name="HTTP_Port" />
      <endpoint address="https://srvsapdevpi:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_legado&amp;receiverParty=&amp;receiverService=&amp;interface=SI_registroFacturaElectronicaEuroWin_O&amp;interfaceNamespace=urn%3AComfenalco%3Afacturacion%3Afacturacionelectronica"
        binding="basicHttpBinding" bindingConfiguration="SI_registroFacturaElectronicaEuroWin_OBinding1"
        contract="ServicioCarvajalConfenalco.SI_registroFacturaElectronicaEuroWin_O"
        name="HTTPS_Port" />
      <endpoint address="http://test.mysatcomla.com/bridge/WcfBridge.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBridge2"
        contract="FacturacionElectronicaSCO.IBridge" name="WSHttpBinding_IBridge2" />
      <endpoint address="https://test.mysatcomla.com/bridge/WcfBridge.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBridge11"
        contract="FacturacionElectronicaSCO.IBridge" name="WSHttpBinding_IBridge11" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
