<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="DatabaseUnitTesting" type="Microsoft.VisualStudio.TeamSystem.Data.UnitTesting.Configuration.DatabaseUnitTestingSection, Microsoft.VisualStudio.TeamSystem.Data.UnitTesting, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </configSections>
    <DatabaseUnitTesting>
        <DataGeneration ClearDatabase="true"/>
        <ExecutionContext Provider="System.Data.SqlClient" ConnectionString="Data Source=NETAR-DEV08;Initial Catalog=Netoffice2;Persist Security Info=True;User ID=netoffice;Pooling=False"/>
        <PrivilegedContext Provider="System.Data.SqlClient" ConnectionString="Data Source=NETAR-DEV08;Initial Catalog=Netoffice2;Persist Security Info=True;User ID=netoffice;Pooling=False"/>
    </DatabaseUnitTesting>
    <connectionStrings>
        <add name="Backoffice.Forms.Listados.Properties.Settings.Netoffice2ConnectionString"
            connectionString="Data Source=NETAR-DEV08;Initial Catalog=Netoffice2;Persist Security Info=True;User ID=netoffice;Password=net"
            providerName="System.Data.SqlClient" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLOLEDB;Data Source=NETAR-DEV08;Persist Security Info=True;User ID=netoffice;Initial Catalog=Netoffice2.5.x"
            providerName="System.Data.OleDb" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.Netoffice2ConnectionString1"
            connectionString="Data Source=NETAR-DEV08;Initial Catalog=Netoffice2;Persist Security Info=True;User ID=sa;Password=server"
            providerName="System.Data.SqlClient" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.ConnectionString1"
            connectionString="Provider=SQLOLEDB;Data Source=NETAR-DEV08;Persist Security Info=True;User ID=sa;Initial Catalog=Netoffice2.21"
            providerName="System.Data.OleDb" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.Netoffice2_21ConnectionString"
            connectionString="Data Source=NETAR-DEV08;Initial Catalog=Netoffice2.21;Persist Security Info=True;User ID=sa;Password=server"
            providerName="System.Data.SqlClient" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.ConnectionString2"
            connectionString="Provider=SQLOLEDB;Data Source=10.10.10.143;Persist Security Info=True;Password=server;User ID=sa;Initial Catalog=netoffice2"
            providerName="System.Data.OleDb" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.Netoffice2ConnectionString2"
            connectionString="Data Source=10.10.10.13;Initial Catalog=Netoffice2;Persist Security Info=True;User ID=sa;Password=server"
            providerName="System.Data.SqlClient" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.Netoffice2_66_2_0ConnectionString"
            connectionString="Data Source=10.10.10.13;Initial Catalog=Netoffice2.66.2.0;Persist Security Info=True;User ID=sa;Password=server"
            providerName="System.Data.SqlClient" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.ConnectionString3"
            connectionString="Provider=SQLOLEDB;Data Source=NETAR02-DEV;Persist Security Info=True;Password=server;User ID=sa;Initial Catalog=Netoffice2"
            providerName="System.Data.OleDb" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.miBaseConnectionString"
            connectionString="Data Source=DAMIAN-PC\SQLEXPRESS;Initial Catalog=miBase;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.Netoffice2ConnectionString3"
            connectionString="Data Source=NETAR04\NETOFFICE;Initial Catalog=Netoffice2;User ID=sa;Password=net"
            providerName="System.Data.SqlClient" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.NFFConnectionString"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=NFF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.Netoffice2Dev2ConnectionString"
            connectionString="Data Source=01-pc\sqlexpress;Initial Catalog=Netoffice2Dev2;Persist Security Info=True;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.Netoffice2Dev2ConnectionString1"
            connectionString="Data Source=NETAR04\NETOFFICE;Initial Catalog=Netoffice2Dev2;Persist Security Info=True;User ID=sa;Password=net"
            providerName="System.Data.SqlClient" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.NetOffice3_0_9_0ConnectionString"
            connectionString="Data Source=MARU-NB\SQLEXPRESS;Initial Catalog=NetOffice3.0.9.0;Persist Security Info=True;User ID=sa;Password=server"
            providerName="System.Data.SqlClient" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.NetOffice3_0_15_0ConnectionString"
            connectionString="Data Source=MARU-NB\SQLEXPRESS;Initial Catalog=NetOffice3.0.15.0;Persist Security Info=True;User ID=sa;Password=server"
            providerName="System.Data.SqlClient" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.NFFNCCLuisFerConnectionString"
            connectionString="Data Source=MARU-NB\SQLEXPRESS;Initial Catalog=NFFNCCLuisFer;Persist Security Info=True;User ID=sa;Password=server"
            providerName="System.Data.SqlClient" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.CTD_PRODU3_1ConnectionString"
            connectionString="Data Source=MARU-NB\SQLEXPRESS;Initial Catalog=CTD_PRODU3.1;Persist Security Info=True;User ID=sa;Password=server"
            providerName="System.Data.SqlClient" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.CTD_PRODU3_2ConnectionString"
            connectionString="Data Source=MARU-NB\SQLEXPRESS;Initial Catalog=CTD_PRODU3.2;Persist Security Info=True;User ID=sa;Password=server"
            providerName="System.Data.SqlClient" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.NetOffice3_3_0_0ConnectionString"
            connectionString="Data Source=NETAR-36\SQLEXPRESS;Initial Catalog=NetOffice3.3.0.0;Persist Security Info=True;User ID=netoffice;Password=net"
            providerName="System.Data.SqlClient" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.NffVexProdConnectionString"
            connectionString="Data Source=DESKTOP-COECOSF\SQLEXPRESS;Initial Catalog=NffVexProd;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.ViajesExitoBibiConnectionString"
            connectionString="Data Source=&quot;201.231.208.8, 1433&quot;;Initial Catalog=ViajesExitoBibi;Persist Security Info=True;User ID=sa;Password=Catmandu2013"
            providerName="System.Data.SqlClient" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.NffExitoConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=NffExito;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.ViajesExitoMaruConnectionString"
            connectionString="Data Source=&quot;201.231.208.8, 1433&quot;;Initial Catalog=ViajesExitoMaru;User ID=sa;Password=Catmandu2013"
            providerName="System.Data.SqlClient" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.Dev_ViajesExitoTestConnectionString"
            connectionString="Data Source=netoffice.netactica.com;Initial Catalog=Dev_ViajesExitoTest;Persist Security Info=True;User ID=nffprod;Password=catmandu"
            providerName="System.Data.SqlClient" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.Imple_NFF_BoardingPassPreproConnectionString"
            connectionString="Data Source=netoffice.netactica.com;Initial Catalog=Imple_NFF_BoardingPassPrepro;User ID=nffprod;Password=catmandu"
            providerName="System.Data.SqlClient" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.PreprodBoardingConnectionString"
            connectionString="Data Source=netoffice.netactica.com;Initial Catalog=PreprodBoarding;User ID=nffprod;Password=catmandu"
            providerName="System.Data.SqlClient" />
        <add name="Backoffice.Forms.Listados.Properties.Settings.Test_LasLenasConnectionString"
            connectionString="Data Source=netoffice.netactica.com;Initial Catalog=Test_LasLenas;Persist Security Info=True;User ID=nffprod;Password=catmandu"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
