<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Backoffice.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="txtPcc.MaxLength" value="4" />
    <add key="NumData" value="12000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <Backoffice.Forms.Properties.Settings>
      <setting name="Netoffice_Forms_airticketservice_AirTicketService" serializeAs="String">
        <value>http://www.netactica.net/demo/netcore/r2/airticketservice.asmx</value>
      </setting>
    </Backoffice.Forms.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicSessionService" />
        <binding name="basicTravelItineraryService" />
        <binding name="basicTravelItineraryExporterService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://preprod.netactica.net/NetCore/SessionService.svc/basic"
        binding="basicHttpBinding" bindingConfiguration="basicSessionService"
        contract="TokenNetSuite.ISessionService" name="basicSessionService" />
      <endpoint address="http://preprod.netactica.net/NetCore/TravelItineraryService.svc/basic"
        binding="basicHttpBinding" bindingConfiguration="basicTravelItineraryService"
        contract="TravelItineraryExportDetail.ITravelItineraryService"
        name="basicTravelItineraryService" />
      <endpoint address="http://preprod.netactica.net/NetCore/TravelItineraryService.svc/basic"
        binding="basicHttpBinding" bindingConfiguration="basicTravelItineraryService"
        contract="TravelItineraryExportDetail.ITravelItineraryService"
        name="basicTravelItineraryService1" />
      <endpoint address="http://preprod.netactica.net/NetCore/TravelItineraryExporterService.svc/basic"
        binding="basicHttpBinding" bindingConfiguration="basicTravelItineraryExporterService"
        contract="TravelItineraryExportNetSuite.ITravelItineraryExporterService"
        name="basicTravelItineraryExporterService" />
    </client>
  </system.serviceModel>
</configuration>