<configuration>
  <appSettings>
    <add key ="ConnectionString" value="Uri=http://preprod-loaderncc.netactica.net/;UserServiceUserName=Netaccount;UserServicePassword=n3t"/>
    <add key ="CacheConfiguration" value="LAN"/>
    <add key ="Language" value="ES"/>
    <add key ="Culture" value="CO"/>
    <add key ="SkipUpdateCheck" value="false"/>
    <add key="EndPointName"  value="basic" />
    <!--Core Settings-->
    <add key="AuthorizationAdminPassword" value="123"/>
    <add key="AuthorizationAdminEnabled" value="true"/>
    <add key="TraceEnabled" value="true"/>
    <add key="LogEnabled" value="true"/>
    <add key="EndPointName" value="basic"/>
    <add key="ValidateDateTimeKind" value="true"/>
    <add key="SQLLogPath" value="C:\temp\"/>
    <!--Fin Core Settings-->

    <add key="ServerSourceVouchers" value="netoffice.netactica.com"/>
    <add key="DataBaseSourceVouchers" value="prep_vex"/>
    <add key="NetofficeUserSourceVouchers" value="nffprod" />
    <add key="NetofficePassSourceVouchers" value="pJgEO9V7o/8=" />
    <add key="Accounting" value="" />
    <!--<Netoffice Setiting>-->
    <add key="Server" value="netoffice.netactica.com"/>
    <add key="DataBase" value="prep_vex"/>
    <add key="NetofficeUser" value="nffprod" />
    <add key="NetofficePass" value="pJgEO9V7o/8=" />
    <add key="Timeout" value="1800" />
    <add key="Log" value="3" />
    <!--<fin Netoffice Setiting -->

  </appSettings>
  <configProtectedData>
    <providers>
      <add name="ConnectionStringEncryptProvider" type="Netactica.Net.Accounting.Desktop.Cryptography.ConnectionStringEncryptProvider,Netactica.Net.Accounting.Desktop.Cryptography"/>
    </providers>
  </configProtectedData>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>
